<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Name>mobSocial PayPalDirect</Name>
  <SystemName>mobSocial.Plugins.PayPalDirect</SystemName>
  <SupportedVersions>1.0</SupportedVersions>
  <Author>Mob Software Team</Author>
  <AuthorUri>http://www.mobSocial.co</AuthorUri>
  <PluginUri>http://www.mobSocial.co</PluginUri>
  <AssemblyDllName>mobSocial.Plugins.PaypalDirect.dll</AssemblyDllName>
</Config>
