<div class="box box-primary" ng-init="init()">
    <div class="box-body">
        <form role="form" name="formSkillEditor" class="form-horizontal">
            <fieldset block-ui>
                <div class="box-body no-padding">
                    <table ng-if="skill==null" class="table">
                        <tr>
                            <td colspan="2">
                                <a class="btn btn-primary pull-right" ng-click="add()">Add New</a>
                            </td>
                        </tr>
                        <tr ng-repeat="skill in skills">
                            <td>
                                <strong class="margin-r-5">{{skill.SkillName}}</strong>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm pull-right" ng-click="deleteUserSkill(skill.UserSkillId)">Delete</button>
                                <button class="btn btn-default btn-sm pull-right margin-r-5" ng-click="edit(skill)">Edit</button>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="skill">
                        <ng-include src="'/pages/skills/skill.editor.public.html'"></ng-include>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
    
</div>
