body {
    background-color: #ecf0f5;
}

*[file-upload-button], *[ng-click], *[media-button] {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.login-box, .register-box {
    margin: 2% auto !important;
}

.clear-padding {
    &.left {
        padding-left: 0 !important;
    }

    &.right {
        padding-right: 0 !important;
    }

    &.top {
        padding-top: 0 !important;
    }

    &.bottom {
        padding-bottom: 0 !important;
    }

    &.all {
        padding: 0 !important;
    }
}

.layout-top-nav {
    .content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.user-list {
    img {
        max-width: 50px;
        margin-right: 5px;
    }
}

.alert {
    ul {
        padding-left: 30px;

        li {
            list-style-type: none;
        }
    }
}

.block-ui-container {
    position: relative;

    .block-ui {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        background-color: rgba(255,255,255, 0.7);

        &.dark {
            background-color: rgba(0,0,0, 0.7);
        }

        .spinner {
            display: block;
            position: absolute;
            z-index: 2000;
            top: 45%;
            right: 45%;
            width: 14px;
            height: 14px;
            border: solid 2px transparent;
            border-top-color: #666;
            border-left-color: #666;
            border-radius: 10px;
            -webkit-animation: pace-spinner 400ms linear infinite;
            -moz-animation: pace-spinner 400ms linear infinite;
            -ms-animation: pace-spinner 400ms linear infinite;
            -o-animation: pace-spinner 400ms linear infinite;
            animation: pace-spinner 400ms linear infinite;
        }
    }
}

.activity-list {
    .post {
        padding: 10px;

        &.post-form {
            padding-bottom: 0 !important;

            .post-box {
                padding-left: 0;

                .user-block {
                    margin-bottom: 0 !important;
                }

                .form-group {
                    margin-bottom: 0px;
                }

                textarea {
                    border: none;
                    resize: none;
                    padding: 0;
                    font-size: 1.1em;
                }
            }
        }
    }
}

.comment-list {
    .comment-box {
        background-color: #eef;
        padding: 10px;
        margin-top: 3px;

        .username, .description, .comment-text {
            display: block;
            margin-left: 35px;
        }

        .description {
            color: #999;
            font-size: 13px;
        }
    }
}

.comment-form {
    margin-top: 7px;
}

.post-preview-area {
    &:empty {
        display: none;
    }

    border: dashed 1px #ccc;
    float: left;
    width: 100%;
    margin: 5px 0;

    img {
        height: auto !important;
        width: auto !important;
        max-width: 100% !important;
    }
}

.post-content-display {
    margin-bottom: 15px;
}

.url-preview {
    min-height: 150px;
    padding: 10px;
    background-color: #eef;
    overflow: hidden;

    .image {
        float: left;
        width: 160px;
        text-align: center;

        img {
            max-width: 100%;
            margin: 5px 10px;
        }
    }

    .url-data {
        padding-left: 180px;

        a {
            font-size: 1.5em;
        }

        .description {
            margin: 7px 0;
        }

        .host-name {
            color: gray;
        }
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.cover-area {
    .cover {
        width: 100%;
        height: 260px;
        position: relative;
        background-color: #eee;

        .bgcover {
            & > img {
                z-index: 1;
                width: 100%;
                position: absolute;
                max-height: 100%;
            }
        }

        .cover-upload-area {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            z-index: 3;
        }

        .quick-info {
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: 0;
            text-align: center;
            font-size: 15px;
            padding: 10px 0;
            background-color: rgba(0,0,0,0.7);
            color: white;
            line-height: 2.2em;

            .info-block, .info-block a {
                color: white;
            }

            .vertical-separator {
                height: 10px;
                width: 1px;
                display: inline-block;
                background-color: #555;
                margin: 0 5px;
            }

            .cover-buttons {
                float: right;
                margin-right: 15px;

                .friend-button, .follow-button, .edit-button {
                    float: left;
                    margin: 15px 5px;
                }
            }

            .battle-info {
                float: left;
                padding: 0 20px;
                text-align: left;
                border-right: solid 1px #333;
                height: 70px;

                .battle-status-name {
                    span {
                        color: gray;
                        font-size: 15px;
                    }
                }
            }

            .battle-prize {
                float: left;
                padding: 0 20px;
                text-align: left;
                height: 70px;
                border-left: solid 1px #666;
            }
        }

        .profile-picture {
            z-index: 2;
            position: relative;
            text-align: center;
            color: white;
            padding: 15px 0;
            margin: 0 auto;
            width: 150px;
            height: 150px;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            .profile-upload-button {
                visibility: hidden;
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                padding: 7px;
                background-color: rgba(0,0,0,0.8);
                color: #fff;
                font-size: 0.7em;
                text-transform: uppercase;

                a {
                    color: white;
                    cursor: pointer;
                }
            }

            &:hover .profile-upload-button {
                visibility: visible;
            }
        }
    }
}

.widget-user {
    .widget-user-header {
        a {
            color: white;
        }
    }
}

.modal-media {
    .post-time {
        color: #999;
        font-size: 12px;
    }

    .media-contents {
        background-color: black;
        text-align: center;
        position: relative;

        .prev, .next {
            position: absolute;
            font-size: 3em;
            color: white;
            top: 35%;
        }

        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }
    }

    .modal-body {
        img {
            max-width: 100%;
        }
    }
}

.media-list {
    .media-item {
        margin-bottom: 15px;
        position: relative;

        .action {
            position: absolute;
            left: 45%;
            top: 35%;
            color: white;
            font-size: 2em;
            opacity: 0.8;
        }
    }
}

videogular vg-overlay-play, [videogular] vg-overlay-play {
    left: 0;
}

.install-wizard-links {
    padding-left: 13px;

    a {
        color: #aaa;
        font-size: 1.2em;
    }

    .active {
        a {
            color: #222;
        }

        font-weight: bold;
    }

    .done {
        color: #555;

        a {
            color: #555;
        }
    }
}

.install-wizard-pane {
    background-color: white;
    padding: 15px;
    border: solid 1px #ccc;

    .license-terms {
        height: 400px;
        overflow: auto;
    }
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    white-space: normal !important;
    overflow: auto;
}

.chat-area {
    position: fixed;
    bottom: 0;
    right: 3px;
    z-index: 10;

    .chat-switcher {
        a {
            display: block;
            padding: 5px 40px;
            background-color: #ccc;
            border: solid 1px #bbb;
            color: #555;

            &:hover, &:active {
                color: #555;
            }
        }
    }

    .chat-box {
        display: none;
        position: absolute;
        bottom: 32px;
        right: 0;
        min-width: 200px;

        .friend-list {
            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    border-bottom: dotted 1px #ccc;

                    a {
                        display: block;
                        padding: 5px 5px;
                        height: 45px;
                    }
                }
            }
        }

        .chat-box-section-friend-list {
            float: left;
            width: 25%;
            height: 400px;

            a {
                &.active {
                    background-color: #eee;
                }
            }
        }

        .chat-box-section-chat-scroll {
            float: left;
            width: 75%;
            height: 400px;
        }

        .chat-scroll {
            .conversation {
                height: 360px;
                overflow: auto;
                padding: 10px 0;

                ul {
                    padding: 0;
                    margin: 0;

                    li {
                        padding: 1px 0px;
                        list-style-type: none;

                        .reply {
                            padding: 5px 10px;
                            margin-right: 45px;
                            border-radius: 5px;

                            &.my-reply {
                                background-color: #ecf0f5;
                                margin-left: 45px;
                                margin-right: 0;

                                .reply-status {
                                    font-size: 8px;
                                    text-align: right;

                                    .sent {
                                        color: gray;
                                    }

                                    .received {
                                        color: blue;
                                    }

                                    .read {
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                }

                .load-more {
                    text-align: center;
                    border: dashed 1px #999;
                    padding: 5px 0;
                    margin: 15px;

                    a {
                        color: #555;
                    }
                }

                .typing-notify {
                    font-size: 13px;
                    color: gray;
                    margin-left: 47px;
                    padding: 5px 0;
                    font-style: italic;
                }
            }
        }
    }

    &.expanded {
        .chat-box {
            display: block;
            width: 800px;
            height: 400px;
            background-color: white;
            border: solid 1px #ccc;
            box-shadow: 0px 0px 1px rgba(0,0,0,0.5);

            .friend-list {
                border-right: solid 1px #ccc;
                height: 400px;
                overflow: auto;
            }
        }
    }

    .submission-area {
        padding: 10px 10px;
        background-color: #eee;
        margin-top: 6px;
    }
}
